<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <title>Вход</title>
</head>
<body style="background-color: #373737;">
    <form action="login" method="POST" class="mt-5 container" style="width: 75%;">
        <h2>Вход</h2>

        <div class="row">
            <div class="col-9">
                <input type="text" placeholder="Логин" id="name" name="name" class="mt-2 form-control">
            </div>
        </div>
        
        <div class="row">
            <div class="col-9">
                <input type="password" placeholder="Пароль" id="password" name="password" class="mt-2 form-control">
            </div>
            <div class="col-1" id="show_pass" style="display:flex; align-items: center; cursor: pointer;">
                <div class="fs-2 mb-1">
                    <i class="bi bi-eye-fill" id="img" style="width: 60px; height: 60px; color: aliceblue;"></i>
                </div>
            </div>
        </div>
        
        <div class="mt-2 row">
            <div class="col-2"><input type="submit" class="btn btn-success" value="Войти"></div>
            <div class="col-8" style="display: flex; align-items: center;"><a class="btn btn-primary" href="/register">Зарегестрироваться</a></div>
        </div>

        <div class="mt-2 alert alert-danger" role="alert" th:attr="hidden=${is_hidden}">
            <strong>Ошибка</strong> <p th:text="${error_message}"></p>
        </div>
    </form>
</body>

<script src="js/login.js"></script>

</html>